## Join tables "anuario produccion agricola" 2019-2022

Cuadros 1-5

In [8]:
import os
import pandas as pd

In [52]:
files = os.listdir("./data_by_cuadro")

In [ ]:
# concat tables for diferent years
df = []
for name in set([f.split("_")[0] for f in files]):
      cuadros = []
      for file in [n for n in files if name in n ]:
      
            data = pd.read_csv("./data_by_cuadro/"+file)
            data.dropna(axis=1, how="all", inplace=True)
            # pivot: cultivos in one column
            data = data.melt(id_vars=["Región", "Año"], value_vars=[col for col in data.columns if col not in ["Región"]],
                  var_name="Cultivo", value_name=file.split("_")[0])
            cuadros.append(data)
      df.append(pd.concat(cuadros))

In [109]:
# merge tables for region, anio and cultivo
print("joining tables ....")
data = df[0]
for i in df[1:]:
    data = pd.merge(data, i, on=["Región", "Año" ,"Cultivo"])

print("dimension result: ", data.shape)

joining tables ....
dimension result:  (7592, 8)

In [115]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7592 entries, 0 to 7591
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Región       7592 non-null   object
 1   Año          7592 non-null   int64
 2   Cultivo      7592 non-null   object
 3   rendimiento  7592 non-null   object
 4   siembras     7592 non-null   object
 5   cosecha      7592 non-null   object
 6   precio       7592 non-null   object
 7   produccion   7592 non-null   object
dtypes: int64(1), object(7)
memory usage: 474.6+ KB

In [118]:
data.to_csv("anuario_producion_agricola_nacional_2019-2022.csv", index=False)