## Produccion Agricola 2022

In [2]:
import pandas as pd

### Cuadro 3: Producción de principales cultivos, según región (t).

In [101]:
# load sheet -------------------------------
print("loading data ...")
data = pd.read_excel(io="../data/2730325-cuadros-en-excel-del-anuario-produccion-agricola-2022.xlsx", 
                     sheet_name="producción")

# recolled tables --------------------------------
print("searching tables ....")
list_tables = []
found_table = False
count = 0

for row in data.itertuples():

    if found_table == True:
        count +=1
        if row[1] != "Nacional": # no include nacional row
            df.loc[len(df)] = row[1:]
            if count == 27: # there is 27 row after the head
                list_tables.append(df)
                found_table = False
                count = 0      

    if row[1] == "Región":
        found_table = True
        df = pd.DataFrame(columns=row[1:])

print(len(list_tables), " tables found")

# join tables ---------------------------------------
print("joining tables ....")
df = list_tables[0]
for i in list_tables[1:]:
    df = pd.merge(df, i, on="Región")

print("dimension result: ", df.shape)

# remove nan columns  -------------------------------
print("removing nan columns")
nan_columns = []
for i in df.columns:
    if "nan" in i:
        nan_columns.append(i)
df.drop(columns=['nan_y', 'nan_x'], inplace=True)

# saveing -----------------------------
print("saving data ....")
df.to_csv("Produccion-principales-cultivos-segun-region.csv", index=False)

loading data ...
searching tables ....
16  tables found
joining tables ....
dimension result:  (26, 161)
removing nan columns
saving data ....

In [102]:

df

,Región,Acelga,Ají,Ajo,Albahaca,Apio,Arracacha,Arroz cáscara,Arveja grano seco,Arveja grano verde,...,Avena forrajera,Braquearia,Cebada forrajera,Grama azul,Grama chilena,Gramalote,Maíz chala,Pasto elefante,Rye grass,Trebol
0,Amazonas,40.450,206.650,18.100,0.000,0.000,9500.010,400726.170,100.400,2041.640,...,0.0,1342408.890,0,423062.5,109671.000,423334.108,0.00,1153656.770,219278.220,204490.990
1,Áncash,639.000,1647.200,377.000,0.000,758.200,0.000,60445.000,494.000,3641.190,...,0.0,0.000,0,0.0,0.000,0.000,814.00,0.000,0.000,0.000
2,Apurímac,0.000,62.500,470.000,74.000,23.000,0.000,0.000,2704.650,4363.300,...,636.5,0.000,796,0.0,0.000,0.000,0.00,109.000,119207.189,111351.427
3,Arequipa,1652.301,1407.793,78618.887,1763.991,9956.443,0.000,280697.248,4.820,16248.365,...,540.0,0.000,739,0.0,0.000,0.000,15515.00,0.000,449.020,0.000
4,Ayacucho,0.000,65.000,2496.000,0.000,1052.000,0.000,12.000,6171.000,6049.000,...,8481.0,0.000,4,0.0,0.000,0.000,0.00,0.000,0.000,0.000
5,Cajamarca,0.000,168.930,7219.189,0.000,0.000,7443.717,186783.070,14041.203,26202.466,...,988.0,0.000,0,0.0,315349.246,196233.721,340.00,295292.448,1539979.820,3328.100
6,Callao,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.0,0.000,0,0.0,0.000,0.000,0.00,0.000,0.000,0.000
7,Cusco,0.000,0.000,0.000,0.000,0.000,0.000,1985.200,2897.200,3041.100,...,15522.0,0.000,1443,0.0,0.000,0.000,0.00,0.000,61847.020,301.000
8,Huancavelica,0.000,0.000,1064.100,0.000,0.000,0.000,0.000,5491.400,22550.000,...,1063.0,0.000,21,0.0,0.000,0.000,0.00,0.000,3281.300,2529.600
9,Huánuco,0.000,620.000,243.000,0.000,205.000,0.000,56046.000,1618.000,14290.000,...,1261.0,5187086.000,0,0.0,0.000,0.000,381.25,0.000,30212.000,16893.000
10,Ica,39.210,5817.330,0.000,312.600,0.000,0.000,0.000,0.000,351.770,...,0.0,0.000,0,0.0,0.000,0.000,0.00,0.000,0.000,0.000
11,Junín,1174.900,1313.000,4840.500,0.000,2265.200,0.000,1028.700,1405.430,33263.000,...,5626.0,123605.350,1000,0.0,0.000,0.000,0.00,93990.980,223746.289,51348.070
12,La Libertad,228.500,4119.650,1468.600,0.000,2175.050,0.000,309348.900,10839.350,5131.850,...,1189.0,0.000,90,0.0,0.000,0.000,3482.00,11014.290,0.000,3047.570
13,Lambayeque,0.000,0.000,0.000,0.000,0.000,0.000,440156.200,413.400,3924.500,...,0.0,0.000,0,0.0,0.000,0.000,1698.00,0.000,0.000,0.000
14,Lima,0.000,8298.100,15834.800,0.000,7368.700,0.000,0.000,34.700,3103.419,...,0.0,0.000,0,0.0,0.000,0.000,12052.20,0.000,143.000,0.000
15,Lima Metropolitana,2125.748,4845.250,112.250,3761.252,9645.870,0.000,0.000,0.000,234.659,...,0.0,0.000,0,0.0,0.000,0.000,1067.00,97.000,0.000,0.000
16,Loreto,0.000,741.000,0.000,0.000,0.000,0.000,108073.000,0.000,0.000,...,0.0,47813.000,0,0.0,0.000,0.000,0.00,19085.000,0.000,0.000
17,Madre de Dios,0.000,0.000,0.000,0.000,0.000,0.000,7607.500,0.000,0.000,...,0.0,964289.000,0,0.0,0.000,0.000,0.00,0.000,0.000,0.000
18,Moquegua,0.000,0.000,261.909,0.000,0.000,68.413,0.000,0.000,196.810,...,35.0,0.000,0,0.0,0.000,0.000,120.00,0.000,0.000,0.000
19,Pasco,0.000,4873.938,9.600,0.000,0.000,0.000,2035.820,103.368,2699.900,...,175.0,1099338.128,16,0.0,0.000,0.000,0.00,0.000,11363.108,5033.987
20,Piura,0.000,0.000,283.000,0.000,0.000,0.000,482421.000,3908.000,1458.000,...,0.0,0.000,0,0.0,0.000,0.000,0.00,60483.800,0.000,0.000
21,Puno,0.000,0.000,180.100,0.000,0.000,390.400,88.500,1050.820,0.000,...,79137.0,0.000,14871,0.0,0.000,0.000,0.00,0.000,0.000,0.000
22,San Martín,0.000,381.000,0.000,0.000,0.000,0.000,868384.190,0.000,0.000,...,0.0,3086890.000,0,0.0,0.000,0.000,0.00,526323.000,0.000,0.000
23,Tacna,32.000,13574.000,235.000,0.000,2612.000,0.000,0.000,0.000,149.000,...,2.0,0.000,0,0.0,0.000,0.000,2193.00,0.000,0.000,0.000
24,Tumbes,0.000,11.260,0.000,0.000,0.000,0.000,128632.572,0.000,0.000,...,0.0,0.000,0,0.0,0.000,0.000,0.00,8054.391,0.000,0.000
25,Ucayali,0.000,183.988,0.000,0.000,0.000,0.000,104542.308,0.000,0.000,...,0.0,0.000,0,0.0,0.000,0.000,0.00,0.000,0.000,0.000

['nan_x', 'nan_x', 'nan_x', 'nan_x', 'nan_x', 'nan_y', 'nan_y', 'nan_y', 'nan_y', 'nan_y', 'nan_y', 'nan_y', 'nan_y', 'nan_y', 'nan_y']